{% paginate collection.products by section.settings.num_products %}

{% include 'breadcrumb' %}

{% assign has_sidebar = false %}
{% if collection.all_tags.size > 0 %}
  {% assign has_sidebar = true %}
{% endif %}

<div class="grid grid-border text-center">

  {% if has_sidebar %}
  <div class="grid-item large--one-fifth collection-filters" id="collectionFilters">
    {% include 'collection-sidebar' %}
  </div>
  {% endif %}

  <div class="grid-item{% if has_sidebar %} large--four-fifths grid-border--left{% endif %}">

    {% comment %}
      Different markup if description is set
    {% endcomment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header--title">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr{% if has_sidebar %} class="hr--offset-left"{% endif %}>
      <div class="section-header">
        <div class="section-header--right">
          {% include 'collection-sorting' %}
          {% include 'collection-views' %}
          {% include 'toggle-filters' %}
        </div>
      </div>
    {% else %}
    <header class="section-header">
      <h1 class="section-header--title section-header--left">{{ collection.title }}</h1>
      <div class="section-header--right">
        {% include 'collection-sorting' %}
        {% include 'collection-views' %}
        {% include 'toggle-filters' %}
      </div>
    </header>
    {% endif %}

    <div class="grid-uniform">

      {% for product in collection.products %}

        {% include 'product-list-item' %}

      {% else %}

        <div class="grid-item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>

      {% endfor %}

    </div>

  </div>

  {% if paginate.pages > 1 %}
  <div class="grid-item pagination-border-top">
    <div class="grid">
      <div class="grid-item{% if has_sidebar %} large--four-fifths push--large--one-fifth{% endif %}">
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% endpaginate %}



{% schema %}
{
  "name": {
    "de": "Kategorie",
    "en": "Collection",
    "es": "Colección",
    "fr": "Collection",
    "it": "Collezione",
    "ja": "コレクション",
    "nl": "Collectie",
    "pt-BR": "Coleção",
    "zh-CN": "收藏",
    "zh-TW": "商品系列"
  },
  "class": "collection-template-section",
  "settings": [
    {
      "type": "select",
      "id": "num_products",
      "label": {
        "de": "Produkte pro Seite",
        "en": "Products per page",
        "es": "Productos por página",
        "fr": "Produits par page",
        "it": "Prodotti per pagina",
        "ja": "ページあたりの商品数",
        "nl": "Producten per pagina",
        "pt-BR": "Produtos por página",
        "zh-CN": "每页产品数",
        "zh-TW": "每頁產品數"
      },
      "default": "20",
      "options": [
        {
          "value": "10",
          "label": {
            "de": "10",
            "en": "10",
            "es": "10",
            "fr": "10",
            "it": "10",
            "ja": "10",
            "nl": "10",
            "pt-BR": "10",
            "zh-CN": "10",
            "zh-TW": "10"
          }
        },
        {
          "value": "15",
          "label": {
            "de": "15",
            "en": "15",
            "es": "15",
            "fr": "15",
            "it": "15",
            "ja": "15",
            "nl": "15",
            "pt-BR": "15",
            "zh-CN": "15",
            "zh-TW": "15"
          }
        },
        {
          "value": "20",
          "label": {
            "de": "20",
            "en": "20",
            "es": "20",
            "fr": "20",
            "it": "20",
            "ja": "20",
            "nl": "20",
            "pt-BR": "20",
            "zh-CN": "20",
            "zh-TW": "八折"
          }
        },
        {
          "value": "25",
          "label": {
            "de": "25",
            "en": "25",
            "es": "25",
            "fr": "25",
            "it": "25",
            "ja": "25",
            "nl": "25",
            "pt-BR": "25",
            "zh-CN": "25",
            "zh-TW": "25"
          }
        },
        {
          "value": "30",
          "label": {
            "de": "30",
            "en": "30",
            "es": "30",
            "fr": "30",
            "it": "30",
            "ja": "30",
            "nl": "30",
            "pt-BR": "30",
            "zh-CN": "30",
            "zh-TW": "30"
          }
        }
      ]
    },
    {
      "type": "radio",
      "id": "collection_sidebar_filters",
      "label": {
        "de": "Produktfilter in Seitenleiste",
        "en": "Sidebar product filters",
        "es": "Filtros de productos de la barra lateral",
        "fr": "Filtres de produits de la barre latérale",
        "it": "Filtri prodotto sidebar",
        "ja": "サイドバーの商品絞り込み",
        "nl": "Filters voor zijbalk",
        "pt-BR": "Filtros de produto na barra lateral",
        "zh-CN": "侧边栏产品筛选器",
        "zh-TW": "側邊欄產品篩選條件"
      },
      "options": [
        {
          "value": "tags",
          "label": {
            "de": "Nach Tag",
            "en": "By tag",
            "es": "Por etiqueta",
            "fr": "Par balise",
            "it": "Per tag",
            "ja": "タグ別",
            "nl": "Per tag",
            "pt-BR": "Por tag",
            "zh-CN": "按标签",
            "zh-TW": "依標籤"
          }
        },
        {
          "value": "groups",
          "label": {
            "de": "Nach Gruppe",
            "en": "By group",
            "es": "Por grupo",
            "fr": "Par groupe",
            "it": "Per gruppo",
            "ja": "グループ別",
            "nl": "Per groep",
            "pt-BR": "Por grupo",
            "zh-CN": "按组",
            "zh-TW": "依群組"
          }
        }
      ],
      "info": {
        "de": "[Erfahren Sie, wie Sie Filtergruppen einrichten](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "en": "[Learn how to set up filter groups](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "es": "[Obtén información sobre cómo configurar los grupos de filtros](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "fr": "[Apprenez à configurer les groupes de filtres](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "it": "[Scopri come configurare i gruppi di filtri](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "ja": "[フィルターグループの設定方法について、もっと詳しく](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)。",
        "nl": "[Bekijk hoe u filtergroepen instelt](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "pt-BR": "[Saiba como criar grupos de filtros](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "zh-CN": "[了解如何设置筛选器组](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)。",
        "zh-TW": "[瞭解如何設定篩選條件群組](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)。"
      }
    },
    {
      "type": "checkbox",
      "id": "product_show_compare_at_price",
      "label": {
        "de": "Vergleich zum Preis anzeigen",
        "en": "Show compare at price",
        "es": "Mostrar precio de comparación",
        "fr": "Afficher le prix normal",
        "it": "Mostra Confronta al prezzo",
        "ja": "価格比較を表示する",
        "nl": "Vergelijken met prijs weergeven",
        "pt-BR": "Exibir comparação de preço",
        "zh-CN": "显示比较价格",
        "zh-TW": "顯示售價"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_show_saved_amount",
      "label": {
        "de": "Gesparten Betrag anzeigen",
        "en": "Show saved amount",
        "es": "Mostrar monto ahorrado",
        "fr": "Afficher le montant économisé",
        "it": "Mostra importo risparmiato",
        "ja": "保存された金額を表示",
        "nl": "Opgeslagen hoeveelheid weergeven",
        "pt-BR": "Exibir valor salvo",
        "zh-CN": "显示已保存的金额",
        "zh-TW": "顯示省下金額"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_reviews_enable",
      "label": {
        "de": "Produktbewertungen aktivieren",
        "en": "Enable product reviews",
        "es": "Habilitar reseñas de productos",
        "fr": "Activer les avis sur les produits",
        "it": "Abilita recensioni di prodotto",
        "ja": "商品レビューを有効にする",
        "nl": "Productbeoordelingen inschakelen",
        "pt-BR": "Habilitar as avaliações de produtos",
        "zh-CN": "启用产品评论",
        "zh-TW": "啟用產品評論"
      },
      "info": {
        "de": "Installieren Sie die kostenlose Shopify-App [Product Reviews](https://apps.shopify.com/product-reviews), um Produktbewertungen hinzuzufügen.",
        "en": "Install the free Shopify [Product Reviews](https://apps.shopify.com/product-reviews) app to add product reviews.",
        "es": "Instala la app gratis de Shopify [Reseñas de productos](https://apps.shopify.com/product-reviews) para agregar reseñas de productos.",
        "fr": "Installer l'application Shopify gratuite [Product Reviews](https://apps.shopify.com/product-reviews) pour ajouter des avis sur les produits.",
        "it": "Installa l'app gratuita di Shopify [Recensioni Prodotto](https://apps.shopify.com/product-reviews) per aggiungere delle recensioni di prodotto.",
        "ja": "無料のShopify[商品レビュー](https://apps.shopify.com/product-reviews)をインストールしてください商品レビューを追加するためのアプリです。",
        "nl": "Installeer de gratis Shopify [Productbeoordelingen](https://apps.shopify.com/product-reviews) app om productbeoordelingen toe te voegen",
        "pt-BR": "Instale o app gratuito da Shopify [Avaliações de Produtos](https://apps.shopify.com/product-reviews) para adicionar avaliações de produtos.",
        "zh-CN": "安装免费 Shopify [产品评论](https://apps.shopify.com/product-reviews) 应用以添加产品评论。",
        "zh-TW": "免費安裝 Shopify [Product Reviews](https://apps.shopify.com/product-reviews) app 以新增產品評論。"
      }
    }
  ]
}
{% endschema %}
