{% assign grid_results = true %}

<div class="grid">
  <div class="grid-item">

    <hr class="hr--clear hr--small">

    {% if search.performed %}

      {% paginate search.results by 20 %}

        {% if search.results_count == 0 %}

          <h1 class="h2 text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
          {% include 'search-bar' %}

        {% else %}

          <h1 class="h2 text-center">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
          {% include 'search-bar' %}
          <hr class="hr--clear">

          {% if grid_results == false %}

            {% for item in search.results %}
              {% include 'search-result' %}
            {% endfor %}

          {% else %}

            <div class="grid-uniform">
              {% for item in search.results %}
                {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
                {% include 'search-result-grid' %}
              {% endfor %}
            </div>

          {% endif %}

        {% endif %}

        {% if paginate.pages > 1 %}
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
        {% endif %}

      {% endpaginate %}

    {% else %}

      {% comment %}
        If search.performed is false, someone either accessed the page without the q parameter, or it was blank.
      {% endcomment %}
      <h1 class="text-center h2">{{ 'general.search.title' | t }}</h1>
      {% include 'search-bar' %}

    {% endif %}

  </div>
</div>



{% schema %}
{
  "name": {
    "de": "Suchen",
    "en": "Search",
    "es": "Buscar",
    "fr": "Rechercher",
    "it": "Cerca",
    "ja": "検索",
    "nl": "Zoeken",
    "pt-BR": "Pesquisar",
    "zh-CN": "搜索",
    "zh-TW": "搜尋"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "product_show_compare_at_price",
      "label": {
        "de": "Vergleich zum Preis anzeigen",
        "en": "Show compare at price",
        "es": "Mostrar precio de comparación",
        "fr": "Afficher le prix normal",
        "it": "Mostra Confronta al prezzo",
        "ja": "価格比較を表示する",
        "nl": "Vergelijken met prijs weergeven",
        "pt-BR": "Exibir comparação de preço",
        "zh-CN": "显示比较价格",
        "zh-TW": "顯示售價"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_show_saved_amount",
      "label": {
        "de": "Gesparten Betrag anzeigen",
        "en": "Show saved amount",
        "es": "Mostrar monto ahorrado",
        "fr": "Afficher le montant économisé",
        "it": "Mostra importo risparmiato",
        "ja": "保存された金額を表示",
        "nl": "Opgeslagen hoeveelheid weergeven",
        "pt-BR": "Exibir valor salvo",
        "zh-CN": "显示已保存的金额",
        "zh-TW": "顯示省下金額"
      },
      "default": true
    }
  ]
}
{% endschema %}
